
.rowWrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input {
    height: 30px;
    outline: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    margin-right: 10px;
}
.inputProductName {
    flex-basis: 250px;
}
.svgWrap {
    cursor: pointer;
}
.btn {
    background: #fff;
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 615px) {
    .rowWrap {
        display: grid;
        grid-template-columns: 1fr 1fr 20px;
        row-gap: 10px;
    }
    .inputProductName {

        grid-row: 1/2;
    }
    .inputAddress {

        grid-row: 1/2;
    }
    .inputWeight {

        grid-row: 2/3
    }
    .svgWrap {
        grid-row: 1/3;
    }
}
@media (max-width: 430px) {
    .rowWrap {
        grid-template-columns: 1fr 20px;
    }
    .inputProductName {
        grid-row: 1/2;
    }
    .inputAddress {
        grid-row: 2/3;
    }
    .inputWeight {
        grid-row: 3/4;
    }
    .svgWrap {
        grid-row: 1/4;
    }
}