
.wrap {
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.form {
    margin: 0 auto;
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.input {
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}
.btn {
    width: 50px;
    height: 30px;
    background: #fff;
    border: none;
    cursor: pointer;
}
.linkWrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.link {
    text-decoration: none;
    color: black;
}
